@import "../../styles//responsive.scss";

.bigChart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 24px;
    @include xxl {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .chart {
    width: 100%;
    height: 300px;
  }
}
